/* NavBar */

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 15px;
}

.paginatorNav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  background-color: rgb(252, 27, 121);
}

.page-link {
  border-color: rgb(252, 27, 121);
  background-color: rgba(252, 27, 121);
}

.page-link span {
  font-size: 30px;
  color: aliceblue;
}

.page-link span:hover {
  color: rgba(252, 27, 121);
}

.navTitle {
  display: flex;
  align-self: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}

 @media screen and (min-width: 290px) and (max-width:395px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content:end;
  }

  .nav-item {
    justify-content: center;
    font-size: 10px;
  }
} 


@media screen and (max-width:280px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
  }
} 


/* Index and Upcoming Events categories */

.categories {
  justify-content: center;
  padding: 15px;
}

input[type="checkbox"]:checked + label:after {
  color: rgba(252, 27, 121);
}

.btn-outline-success {
  background-color: rgb(168, 168, 168);
  border-color: rgb(168, 168, 168);
  color: aliceblue;
}

.fa-magnifying-glass {
  color: aliceblue;
}

.btn-outline-success:hover {
  border-color: rgba(252, 27, 121);
  background-color: rgba(252, 27, 121);
}

.fa-magnifying-glass:hover {
  color: aliceblue;
}

/* Index and Upcoming Events cards */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 300px;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-body {
  text-align: center;
  
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.moreDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.moreDetails1 {
  display: flex;
  justify-content: space-evenly;
}
.moreDetails1 h6 {
  margin-right: 5px;
}

.moreDetails2 {
  display: flex;
  justify-content: space-evenly;
}

.moreDetails2 h6 {
  margin-right: 5px;
}

.card-footer {
  width: 100%;
}

.text-muted {
  align-self: center;
  margin: 22px;
}
.btn-primary {
  border-color: rgb(168, 168, 168);
  background-color: rgb(168, 168, 168);
}

.btn-primary:hover {
  border-color: rgba(252, 27, 121);
  background-color: rgba(252, 27, 121);
}

/* Past events */

.sectionPastEvents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 55px;
  margin-top: 60px;
}

.img-fluid {
  background-size: contain;
  background-position: center center;
  height: 100%;
  width: 100%;  
}

.PEcard { 
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 540px;
  border: 1px solid  rgb(204, 204, 204);
  border-radius: 5px;
  margin-bottom: 55px;
  margin-top: 60px;
}

@media screen and (max-width: 475px) {
  .sectionPastEvents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
    margin-top: 70px;
  }

  .img-fluid {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 290px) and (max-width: 767px) {
  .PEcard{ 
    display: flex;
    justify-content: center;
    width: 300px; 
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
  }
}

/* Contact */

.form {
  width: 50%;
  margin: auto;
  margin-top: 15px;
}

.btnSubmit {
  display: flex;
  justify-content: flex-end;
}

.btn-outline-secondary {
  background-color: rgb(168, 168, 168);
  border-color: rgb(168, 168, 168);
  color: aliceblue;
}

.btn-outline-secondary:hover {
  background-color: rgba(252, 27, 121);
  border-color: aliceblue;
  color: aliceblue;
}

/* Stats */

.table {
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.table-light {
  justify-content: center;
  margin: auto;
  width: 50%;
}

td {
  height: 35px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: rgba(252, 27, 121);
}

.redes {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.fa-brands {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: aliceblue;
}

.cohort {
  align-self: flex-end;
  margin-right: 15px;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
